
.classpath

.classpath.mine

.classpath.r2573

.classpath.r2813

.externalToolBuilders/Ant Builder.launch

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.mylyn.tasks.ui.prefs

.settings/org.eclipse.ltk.core.refactoring.prefs

.settings/org.eclipse.jdt.ui.prefs

.project
